body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
footer {
    background-color: #0e0e1a;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    color: #fff;
    font-size: 24px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.icon:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

#container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background: #00ff73;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #00b327;
    transform: scale(1.05);
}

button:active {
    background-color:#1dc973;
}

button#stop-btn {
    background: #FF3B3B;
}

button#stop-btn:hover {
    background-color: #b32f2f;
}

#transcript {
    margin-top: 20px;
    margin-bottom: 30px;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    min-height: 50px;
    font-style: italic;
    color: #666;
}


#transcript .placeholder {
    color: #888;
    font-style: italic;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@media (max-width: 600px) {
    #container {
        width: 95%;
    }

    button {
        font-size: 14px;
    }
}